<html>
  <body>

    <div class="row" style="margin-bottom: 2em;">
      <div class="col-lg-4">
        random arrays:<br><br>
        <div class="vars">
          <div class="var">
            <span>S01</span>
            <div class="bitBox">
              <div class="bit" *ngFor="let s of S01 | keyvalue" (click)="S01[s.key] = flip(s.value)">{{s.value}}</div>
            </div>
          </div>
          <div class="var">
            <span>S11</span>
            <div class="bitBox">
              <div class="bit"
                   *ngFor="let s of S11 | keyvalue"
                   (click)="S11[s.key] = flip(s.value)"
                   [ngClass]="{'mark': S11[s.key] !== S01[s.key]}"
              >{{s.value}}</div>
            </div>
          </div>
          <div class="var">
            <span>S02</span>
            <div class="bitBox">
              <div class="bit" *ngFor="let s of S02 | keyvalue" (click)="S02[s.key] = flip(s.value)">{{s.value}}</div>
            </div>
          </div>
          <div class="var">
            <span>S12</span>
            <div class="bitBox">
              <div class="bit"
                   *ngFor="let s of S12 | keyvalue"
                   (click)="S12[s.key] = flip(s.value)"
                   [ngClass]="{'mark': S12[s.key] !== S02[s.key]}"
              >{{s.value}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div id="tableWrapper">
          database:
          <table *ngIf="table">
            <tr>
              <td class="noBorder"></td>
              <td class="noBorder">x1</td>
              <td class="noBorder">x2</td>
              <td class="noBorder">x3</td>
              <td class="noBorder">x4</td>
            </tr>
            <tr *ngFor="let t1 of table | keyvalue">
              <td class="noBorder">y{{+t1.key+1}}</td>
              <td *ngFor="let t2 of t1.value |keyvalue" (click)="table[t1.key][t2.key] = flip(t2.value)" [ngClass]="{'mark': +t1.key === resultY() && +t2.key === resultX()}">
                {{t2.value}}
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-lg-4">
        result:
        <div class="bit mark" style="margin-top: 1em;cursor: default">{{endResult()}}</div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-12">
        <div class="db-wrapper">
        <div class="db">
          <strong>DB00:</strong><br>
          S01, S02<br>
          <div *ngIf="log[0]">
            <div *ngFor="let d of log[0]" [innerHTML]="d"></div>
          </div>
          <span class="result">
            result: {{this.walk( this.S01, this.S02, 0, 'S01' , 'S02')}}
          </span>
        </div>
        <div class="db">
          <strong>DB01:</strong><br>
          S01, S12<br>
          <div *ngIf="log[1]">
            <div *ngFor="let d of log[1]" [innerHTML]="d"></div>
          </div>
          <span class="result">
            {{this.walk( this.S01, this.S12, 1, 'S01' , 'S12')}}
          </span>
        </div>
        <div class="db">
          <strong>DB10:</strong><br>
          S11, S02<br>
          <div *ngIf="log[2]">
            <div *ngFor="let d of log[2]" [innerHTML]="d"></div>
          </div>
          <span class="result">
            {{this.walk( this.S11, this.S02, 2, 'S11', 'S02' )}}
          </span>
        </div>
        <div class="db">
          <strong>DB11:</strong><br>
          S11, S12<br>
          <div *ngIf="log[3]">
            <div *ngFor="let d of log[3]" [innerHTML]="d"></div>
          </div>
          <span class="result">
            {{this.walk( this.S11, this.S12, 3, 'S11', 'S12' )}}
          </span>
        </div>
      </div>
      </div>
    </div>

  </body>
</html>
